body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(22,199,246); /* Primary Brand Color */
    color: #000; /* High Contrast Text */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px;
}

#logo img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

#game {
    width: 100%;
    max-width: 600px;
    background-color: #fff; /* Background for Game Area */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.theme-style, .attempts-style {
    font-weight: bold;
    margin: 10px 0;
}

.theme-style {
    color: rgb(143,227,30); /* Green */
    font-size: 1.2rem;
}

.attempts-style {
    color: rgb(255,199,29); /* Yellow */
    font-size: 1rem;
}

.letters-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.letter, #backspace, #submitGuess, #scramble, #pauseTimer {
    font-size: 1rem;
    margin: 5px;
    padding: 10px 15px;
    background-color: rgb(255,69,111); /* Red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.letter:hover, #backspace:hover, #submitGuess:hover, #scramble:hover, #pauseTimer:hover {
    background-color: rgb(22,199,246); /* Blue */
}

.letter.used {
    background-color: rgb(255,199,29); /* Red background for used letters */
    color: #fff; /* White text for contrast */
    /* pointer-events: none; */
}

.input-group {
    display: flex;
    margin: 10px 0;
}

#guess {
    flex-grow: 1;
    margin-right: -1px; /* Align with backspace button */
    border-radius: 5px 0 0 5px;
}

#backspace {
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feedback {
    color: rgb(255,69,111); /* Feedback Color */
    margin-top: 10px;
}

#timer, #date {
    margin: 10px 0;
    font-size: 1rem;
    color: rgb(22,199,246); /* Blue */
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    #logo, #game {
        width: 45%;
    }

    .theme-style, .attempts-style, .letter, #backspace, #submitGuess, #scramble, #pauseTimer {
        font-size: 1.2rem; /* Larger Font Size for Desktop */
    }
}

