body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#game {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#logo {
    max-width: 100%;
    height: auto;
}

#letters {
    margin: 20px 0;
    font-size: 24px;
}

#guess {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px); /* Adjust based on padding */
}

button {
    padding: 10px;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    #guess, button {
        width: calc(100% - 20px); /* Adjust for smaller screens */
    }

    h1 {
        font-size: 1.5em; /* Smaller heading on small screens */
    }
}


.letter {
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.letter.used {
    opacity: 0.5;
    cursor: not-allowed;
    /* color: #ccc; */
    pointer-events: none; /* Ensure they can't be clicked even if JS fails */
}
