body, html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    text-align: center;
}

#letters {
    margin: 20px 0;
    font-size: 24px;
}

#guess {
    margin: 10px 0;
}
